input[type=text], select, input[type="password"]{
    width: 55%;
    min-width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 19%;
    background-color: #348539;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  #login-continue-without-button{
    width: 36%;
    background-color: #527ca6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  #login-continue-without-button:hover{
      background-color: #418dd9;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }
  