body{
    background-color: #6696b6;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}




.main-App{
    border: 1px solid #c2c2c2;
}

.header{
    
}

.content-container{
    width: 90%;
    margin: auto;
    border-bottom: 1px solid red;
    border-top: 1px solid red;
    margin-bottom: 10px;
}

.footer{
    padding: 5px;
    padding-bottom: 15px;
}
.menu{
    border: #c2c2c2;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

.input{
    background-color: #393939;
}
.myButton {
    background-color: #ffffff;
    border: 1px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Arial;
    font-size: 23px;
    padding: 20px;
    text-decoration: none;
    top: 1px;
    position: relative;
	
}
.myButton:hover {
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}
.tekstInput{
    font-size: 20px;
    padding: 20px;
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}


#Rom:hover,
#Rom-1:hover,
#Rom-2:hover,
#Rom-3:hover,
#Rom-4:hover,
#Rom-5:hover{
    fill: #2c6338;
    cursor: pointer;
}

#svgHolder{
    /* border: 1PX solid red; */
}

#svgHolder svg g polygon:hover{
    fill: #2c6338;
}
.cls-1,
.cls-5 {
    fill: #fff;
}

.cls-2 {
    fill: #393939;
}

.cls-2,
.cls-3,
.cls-4,
.cls-5 {
    stroke: #fff;
    stroke-miterlimit: 10;
}

.cls-3 {
    fill: none;
}

.cls-4 {
    fill: #cecece;
}


.Empty{
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
}

#Rom{
    height: 400px;
}

.EmptyCafe{
    width: 15%;
    margin: 10px;
}
.EmptyManehallen{
    width: 38%;
    margin: 10px;
}
.EmptySoylehallen{
    width: 38%;
    margin: 10px;
}
.EmptyHovedhallen{
    width: 53%;
    margin: 10px;
}
.lokalNavn{
    position: relative;
    top: -50%;
}



.canvas{
    display: block;
    cursor: default;
    position: absolute;
    top: 0px;
    z-index: 1;
}
.backgroundCanvas{
    display: block;
    cursor: default;
    position: absolute;
    top: 0px;
    z-index: 0;
}

.newGUI{
    font-family: 'Assistant', sans-serif;
    background-color: #ffffff;
    width: 20%;
    height: 100%;
    float: right;
    position: relative;
    z-index: 2;
    border-left: 1px solid #a0a0a0;
    overflow: auto;
}
.newGUI h2{
    color: #6c6c6c;
    cursor: pointer;
    background-color: #ffffff;
    /* width: 47%; */
    min-width: 40%;
    margin: auto;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid #e8e8e8;
}
.newGUI h2:hover{
    background-color: #e18bc0;
}
.gui-header{
    width: 100%;
    color: grey;
}
.gui-container{
    margin: auto;
    width: 98%;
    display: flex;
    padding: 5px;
    text-align: center;
    flex-wrap: wrap;
    background-color: #fafafa;
    border: 1px solid #cacaca;
    text-align: center;
}
.counter-text{
    width: 100%;
    margin-top: 0;
    margin-bottom: 0px;
    color: #646464;
}


.canvasgui{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 7px;
    color: #60ccce;
    

}
.addTableContainer{
    right: 8px;
    position: fixed;
    cursor: pointer;
    width: 160px;
    height: 200px;
    z-index: 20;
    animation: utilityButtonsShow 1s 1;
}
.addTableContainerHidden{
    right: 8px;
    position: fixed;
    cursor: pointer;
    width: 160px;
    height: 0px;
    z-index: 20;
    animation: utilityButtonsHide 1s 1;
}
.hideShowTables{
    position: absolute;
    left: 0px;
    bottom: -46px;
    border: 1px solid white;
    height: 44px;
    width: 146px;
    background-color: #000024b0;
    z-index: 22;
    -webkit-box-shadow: -1px -15px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -15px 20px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -15px 20px 0px rgba(0, 0, 0, 0.75);
}
.hideShowTables:hover{
    background-color: #041415;
}
.hideShowTables:h1{
    margin-top: -2px;
}
.utilityButtons{
    float: right;
    right: 8px;
    position: fixed;
    cursor: pointer;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 160px;
    height: 200px;
    z-index: 20;
    animation: utilityButtonsShow 1s 1;
}
.utilityButtonsHidden{
    float: right;
    right: 8px;
    position: fixed;
    cursor: pointer;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 160px;
    height: 0px;
    z-index: 20;
    animation: utilityButtonsHide 1s 1;
}
@keyframes utilityButtonsHide{
    0%{height: 200px;}
    100%{height: 0px;}
}
@keyframes utilityButtonsShow{
    0%{height: 0px;}
    100%{height: 200px;}
}

.utilityButtons:hover{
    cursor: pointer;

}
.utilityButton{
    border: 1px solid white;
    /* width: 125px; */
    margin-bottom: 10px;
    margin-right: 2px;
    background-color: #030f2e94; 
}
.utilityButton:hover{
    background-color: #041415;
}
.utilityImages{
    max-width: 150px;
}
.stats{
    float:left;
}


.tablePreviewDiv{
    border: 1px solid white;
    float: right;
    right: 8px;
    bottom: 0px;
    position: fixed;
    cursor: pointer;
    
    width: 300px;
    height: 267px;
    z-index: 20;
    background-color: #000000a3;
    animation: tablePreviewDivAnimationShow 1s 1;

}
.tablePreviewDivHidden{
    border: 1px solid white;
    float: right;
    right: 0px;
    bottom: 0px;
    position: fixed;
    cursor: pointer;
    width: 0px;
    height: 267px;
    z-index: 20;
    background-color: #000000a3;
    animation: tablePreviewDivAnimation 1s 1;
}
@keyframes tablePreviewDivAnimation{
    0%{width: 300px; right: 8px;}
    100%{width: 0px; right: 0px;}
}
@keyframes tablePreviewDivAnimationShow{
    0%{width: 0px; right: 0px;}
    100%{width: 300px; right: 8px;}
    
}


.hideShowPreview{
    position: absolute;
    left: -66px;
    top: -1px;
    height: 64px;
    border: 1px solid white;
    width: 64px;
    background-color: #000000a3;
}
.hideShowPreview:hover{
    background-color: #408c99;
    color: white;
}
.tableButtons{
    position: absolute;
    left: -66px;
    top: 64px;
    height: 202px;
    width: 64px;
    border: 1px solid white;
    background-color: #000000a3;
}
.tblButtonsIcons{
    width: 64px;
    height: 64px;
}
.tblButtonsIcons:hover{
    
    /* -webkit-filter: invert(1);
   filter: invert(1); */
   background-color: #408c99;
}




.mouseTools{
    
    bottom: 14px;
    left: 800px;
    position: absolute;
    cursor: pointer;
    /* width: 400px;
    height: 100px; */
    z-index: 20;
    
    flex-wrap: wrap;
    /* width: 400px;
    height: 100px; */
}
.mouseToolsHideShow{
    position: absolute;
    width: 100px; 
    height: 68px;
    left: -100px;
    background-color: #000000a3;
    border: 1px solid white;
    top: 0px;
    animation: mouseToolsAnimationHideShow 1s 1;
}
.mouseToolsHideShowHidden{
    position: absolute;
    width: 105px;
    height: 38px;
    left: 0px;
    background-color: #000000a3;
    border: 1px solid white;
    top: 30px;
    animation: mouseToolsAnimationHide 1s 1;
}
@keyframes mouseToolsAnimationHideShow{
    0%{left: 0; }
    50%{left: -100px; }
    100%{left: -100px; }
}
@keyframes mouseToolsAnimationHide{
    0%{left: -100px; }
    50%{left: -100px; }
    100%{left: 0px; }
}
.mouseToolsHideShow:hover{
    color: white;
    background-color: #408c99;
}
.mouseToolsHideShowHidden:hover{
    color: white;
    background-color: #408c99;
}
.mouseToolsImages{
    position: relative;
    border: 1px solid white;
    background-color: #000000a3;
    top: 0px;
    contain: content;
    animation: mouseToolsAnimationShow 1s 1;
}
@keyframes mouseToolsAnimationShow{
    0%{top:101px; }
    50%{top:101px;}
    100%{top: 0px; }
}
.mouseToolsImagesHidden{
    position: relative;
    border: 1px solid white;
    background-color: #000000a3;
    animation: mouseToolsAnimation 1s 1;
    top: 101px;
}
@keyframes mouseToolsAnimation{
    0%{top: 0px;}
    50%{top:101px;}
    100%{top: 101px;}
}
.mouseToolsImage{
    width: 64px;
    height: 64px;
    filter: invert(1);
}
.mouseToolsImage:hover{
    
    /* -webkit-filter: invert(1);
   filter: invert(1); */
   background-color: #408c99;
}
.presetsPreview{
    /* display: flex; */
    width: 420px;
    overflow-y: hidden;
    flex-wrap: wrap; 
}


.presetsMeny{
    width: 100%;
    display: none;
}
.presetsList{
    overflow-y: scroll;
    border: 1px solid white;
    bottom: 0px;
    position: relative;
    cursor: pointer;
    width: 200px;
    height: 400px;
    z-index: 20;
    background-color: #000000a3;
    overflow-x: hidden;
    animation: presetListShow 1.5s 1;
}
.presetsListHidden{
    overflow-y: hidden;
    border: 1px solid white;
    bottom: 0px;
    position: relative;
    cursor: pointer;
    width: 0px;
    height: 0px;
    z-index: 20;
    background-color: #000000a3;
    overflow-x: hidden;

    animation: presetListHide 1.5s 1;
}


@keyframes presetListHide{
    0%{width: 200px; height: 400px; bottom: 0px;}
    50%{width: 200px; height: 0px; bottom: 0px;}
    100%{width: 0px; height: 0px; bottom:0px;}
}
@keyframes presetListShow{
    0%{width: 0px; height: 0px; bottom:0px;}
    50%{width: 200px; height: 0px; bottom: 0px;}
    100%{width: 200px; height: 400px; bottom: 0px;}
}



.presetsList:img{
    width: 200px;
}
.hideShowPresets{
    background-color: #00000024;
    height: 85px;
    border: 1px solid white;
    position: relative;
    z-index: 20;
    width: 100px;
}
.hideShowPresets:hover{
    background-color: white;
    cursor: pointer;
    z-index: 20;

}




.customScrollBar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.customScrollBar::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.customScrollBar::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

.bordSubmitClass{
    position: absolute;
    width: 70px;
    height: 67px;
    /* z-index: 103; */
    left: 224px;
}