/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /*position: relative;*/
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    margin-top: 200px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #d49c94;
    color: white;
  }
  
  /* Modal Body */
  .modal-body {padding: 2px 16px;}
  .modal-body{
    width: 80%;
    margin: auto;
    display: flex;
  }
  .modal-body-left{
    width: 45%;
  }
  .modal-body-right{
    width: 45%;
  }
  
  /* Modal Footer */
  .modal-footer {
    padding: 2px 16px;
    background-color: #d49c94;
    color: white;
  }
  
  /* Modal Content */
  .modal-content {
    color: #6b6b6b;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    margin-top: 200px;
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }


.modalbtn{
    background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.modalbtn:hover{
    opacity:1;
}
#savebtnModal, #cancelbtnModal{
    background-color: #ccc;
  color: black;
}
  #savebtnModal{

  }
  #cancelbtnModal{
    background-color: #f44336;
  }

.clearfix{
    display:flex;
}
  /* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  /* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
    #cancelbtn, #deletebtn {
      width: 100%;
    }
  }