.new-app{
    background-color: #7eb8de;
    width: 100%;
    height: 100%;
    margin: 0;
    /* position: absolute;
    top: 0px;
    left: 0px; */
    /* background-image: url("images/Preset1.png"); */
}
.new-header{
    width: 100%;
    height: 40px;
}
.new-content{
    
    margin: auto;
    margin-top: 10px;
    /* width: 1200px; */
    background-color: #26375a;
    background-color: #fffffff0;
    background-color: rgba(255,255,255,0.95);
    border: 1px solid #9b9b9b;
    /* max-width: 65%; */
    width: 65%;
    font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    /* margin-top:75px; */
}
.new-content-header{
    width: 100%;
    color: #1B293E;

}
.new-content-header-menu{
    width: 100%;
    background-color: #607d8b;
    overflow: auto;
    display: flex;
}
.new-content-header-menu a{
    float: left;
    /* padding: 12px; */
    padding-bottom: 12px;
    padding-top: 12px;
    color: white;
    text-decoration: none;
    font-size: 26px;
    width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
}
.new-content-header-menu a:hover {
    background-color: #318665;
    cursor: pointer;
  }
.new-content-header-menu a.active {
    background-color: #4CAF50;
  }

.new-content-menu h1{
    color: #4e4e4e;
}
.new-content-menu h3{
    color: #717171;
}

.saved-setups{

}
.for-deleting-presets-div{
    display: flex;
    flex-wrap: wrap;
}
.saved-room-settings-container-info{
    display: flex;
}
.saved-room-container, .saved-room-settings-container{
    width: 100%;
    border: 1px solid grey;
    padding: 0px;
    padding-bottom: 5px;
    display: inline-flex;
    flex-wrap: wrap;
}
.saved-room-container h1{
    margin: 0;

}
.saved-room h4{
    position: relative;
    top: 0px;
    margin: 0;
    color: grey;
    background-color: white;
}
.saved-room{
    background-color: rgb(255, 255, 255);
    width: 20%;
    border: 1px solid #cbcbcb;
    margin: 15px;
    cursor: pointer;
}
.saved-room:hover{
    background-color: rgb(255, 228, 216);
    border: 1px solid #1c1c1c;

    -webkit-box-shadow: 0px 0px 39px 9px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 39px 9px rgba(0,0,0,1);
    box-shadow: 0px 0px 39px 9px rgba(0,0,0,1);
}
.saved-room img{
    width: 100%;
}











.blank-header{
    width: 100%;
    color: #4d4d4d;
}
.blank-setups{
    overflow: auto;
    display: inline-flex;
    flex-wrap: wrap;
}
.blank-room{
    width: 44%;
    /* padding: 5px; */
    background-color: #ffffffbf;
    border: 1px solid;
    border-color: #cdcdcd;
    contain: content;
    margin: auto;
    margin-bottom: 25px;
}
.blank-room:hover{
    -webkit-box-shadow: 0px 0px 33px 24px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 33px 24px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 33px 24px rgba(0,0,0,0.4);
    background-color: #ffffff;
    cursor: pointer;
    border: 0px solid white;
}
.blank-room h2{
    color: #656565;
    position: relative;
    font-size: 44px;
    margin: 0;
}
.blank-setups img{
    width: 100%;

}
.blank-setups img:hover{
    /* -webkit-box-shadow: 0px 0px 33px 24px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 33px 24px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 33px 24px rgba(0,0,0,0.75); */
}


.create-project-step{
    width: 100%;
    display: flex;
    margin-bottom: 100px;
    
}
.create-project-step-progress{
    width: 20%;
    margin: auto;
}
.create-project-step-container{
    width: -webkit-fill-available;
    border: 2px solid #afafaf;
    border-radius: 20px;
    background-color: #f7f7f7;
    margin: 20px;
}
.create-project-step-info{
    color: burlywood;
}
.create-project-step-content{
    flex-wrap: wrap;
}
.create-project{
    overflow: auto;
    display: inline-flex;
    flex-wrap: wrap;
    color: #4d4d4d;
}
.create-project-header{
    width: 100%;
    color: #4d4d4d;
}
.create-project-select-room{
    overflow: auto;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 10px;
}
.create-project-room{
    width: 44%;
    /* padding: 5px; */
    background-color: #ffffffbf;
    border: 1px solid;
    border-color: #cdcdcd;
    contain: content;
    margin: auto;
    margin-bottom: 25px;
}
.create-project-room:active{
    -webkit-box-shadow: 0px 0px 33px 24px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 33px 24px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 33px 24px rgba(0,0,0,0.4);
    background-color: #ffffff;
    cursor: pointer;
    border: 0px solid white;
}
.create-project-room:hover{
    -webkit-box-shadow: 0px 0px 33px 24px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 33px 24px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 33px 24px rgba(0,0,0,0.4);
    background-color: #ffffff;
    cursor: pointer;
    border: 0px solid white;
}
.create-project-room h2{
    color: #656565;
    position: relative;
    font-size: 44px;
    margin: 0;
}
.create-project img{
    width: 100%;

}
.create-project-setups img:hover{
    /* -webkit-box-shadow: 0px 0px 33px 24px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 33px 24px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 33px 24px rgba(0,0,0,0.75); */
}

.create-project-previous-project{
    border: 1px dotted black;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    background-color: #fef8ff;
    border-radius: 10px;
    cursor: pointer;
}

.create-project-previous-project:hover{
    background-color: #88d08c;
}

.new-footer{

}
.personVisningsDiv{
    width: 100%;
    border: 1px dashed #b0b0b0;
    margin: 5px;
    cursor: pointer;
}
.tableVisningsDiv{
    width: 100%;
    border: 1px dashed #b0b0b0;
    margin: 5px;
    cursor: pointer;
}
.personVisningsDiv:hover{
    background-color: #4CAF50;
}
.tableVisningsDiv:hover{
    background-color: #4CAF50;
}
button {
	background-color:#ffffff;
	border-radius:8px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
button:hover {
	background-color:#f6f6f6;
}
button:active {
	position:relative;
	top:1px;
}


@media screen and (max-width: 1024px) {
    .blank-room h2{
        font-size: 25px;
    }
    .new-content{
        width: 85%;
        border: 1px solid;
        border-color: #cdcdcd;
        margin-top: 10px;
    }
    .blank-room{
        width: 40%;
    }
    .new-content-header-menu a{
        font-size: 17px;
    }
}



@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }

    .blank-room h2{
        font-size: 18px;
    }
    .new-content{
        width: 90%;
        margin-top:10px;
    }

  }

  @media screen and (width: 360px, height: 740px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }

    .blank-room h2{
        font-size: 18px;
    }
    .new-content{
        width: 90%;
        margin-top:380px;
    }

  }