<html lang="no">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bordplassering</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />


  <script src={{ url_for('static', filename='js/globals.js')}} ></script>
  
  <script src={{ url_for('static', filename='js/bordClasser.js')}} ></script>
  <script src={{ url_for('static', filename='js/obstacleClass.js')}} ></script>
  <script src={{ url_for('static', filename='js/functions.js')}} ></script>
  <script src={{ url_for('static', filename='js/hideshowfunctions.js')}} ></script>
  <script src={{ url_for('static', filename='js/onclickfunctions.js')}} ></script>
  <script src={{ url_for('static', filename='js/roomDrawing.js')}} ></script>
  
    <!-- Old scripts 
  <script src="js/globals.js"></script>
  
  <script src="js/bordClasser.js"></script>
  <script src="js/obstacleClass.js"></script>
  <script src="js/functions.js"></script>
  <script src="js/hideshowfunctions.js"></script>
  <script src="js/onclickfunctions.js"></script>
  <script src="js/roomDrawing.js"></script>
  -->

  <link rel="stylesheet" href={{ url_for('static', filename='css/index.css')}} ></link>
  <link rel="stylesheet" href={{ url_for('static', filename='css/newApp.css')}} ></link>
  <link rel="stylesheet" href={{ url_for('static', filename='css/formstyle.css')}} ></link>
  <link rel="stylesheet" href={{ url_for('static', filename='css/header.css')}} ></link>
  <!-- Old Stylesheets 
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/newApp.css">
  <link rel="stylesheet" href="css/formstyle.css">
  <link rel="stylesheet" href="css/header.css">
  -->
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Roboto:100&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Assistant:200&display=swap" rel="stylesheet">
  

</head>

<body onscroll="scale(event)" onresize="onDocumentResize(event)">
    <div class="new-app" id="new-app">
        
        <div class="topnav" id="topnav">
            <a class="active" href="#home" onclick="goHome()">Hjem</a>
            <a href="#about">Plantegning</a>
            <a href="#contact">Administrering</a>
            <div class="login-container">
              <form action="/action_page.php">
                <input type="text" placeholder="Username" name="username">
                <input type="text" placeholder="Password" name="psw">
                <button type="submit">Login</button>
              </form>
            </div>
          </div>
        <div class="new-content" id="new-content">
            <div class="new-content-header-menu" id="new-content-header-menu">
                <a  onclick="newContentHeaderMenuSetActive(event)" id="nchm-saved">Lagrede oppsett</a>
                <a class="active" onclick="newContentHeaderMenuSetActive(event)" id="nchm-new">Nytt oppsett</a>
                <a onclick="newContentHeaderMenuSetActive(event)" id="nchm-user-settings">Instillinger</a>
                <a onclick="newContentHeaderMenuSetActive(event)" id="nchm-login">Login</a>
            </div>
            <div class="new-content-menu" id="new-content-menu" >
            
            <!-- SAVED SETUPS -->
                <div style="display: none;" class="saved-setups" id="saved-setups">
                    <div class="saved-room-container" id="saved-manehallen-container">
                        <h1>Månehallen</h1>
                        <div class="saved-room" id="saved-manehallen" onclick="loadPresetByClick(event)">
                            <img src="static/images/Saved/Preset1.png" alt="Manehallen">
                            <h4>Cafeén lagret 1</h4>
                        </div>
                    </div>
                    <div class="saved-room-container" id="saved-soylehallen-container">
                        <h1>Søylehallen</h1>
                        <div class="saved-room" id="saved-soylehallen">
                            <img src="static/images/Saved/Preset1.png" alt="Soylehallen">
                            <h4>Cafeén lagret 1</h4>
                        </div>
                    </div>
                    <div class="saved-room-container" id="saved-hovedhallen-container">
                        <h1>Hovedhallen</h1>
                        <div class="saved-room" id="saved-hovedhallen">
                            <img src="static/images/Saved/Preset1.png" alt="Hovedhallen">
                            <h4>Cafeén lagret 1</h4>
                        </div>
                    </div>
                    <div class="saved-room-container" id="saved-cafe-container">
                        <h1>Cafeén</h1>
                        <div class="saved-room" id="saved-cafe">
                            <img src="static/images/Saved/Preset1.png" alt="Cafe">
                            <h4>Cafeén lagret 1</h4>
                        </div>
                    </div>
                </div>
            <!-- BLANK SETUPS -->
                <div  class="blank-setups" id="blank-setups">
                    <div class="blank-header">
                        <h1>Velg rom</h1>
                        <h3>Her kan du velge et rom til å starte på et nytt blankt prosjekt</h3>
                    </div>
                    <div class="blank-room" id="blank-cafe" onclick="startTegner('Cafe')">
                        <img src="static/images/menublank/16/cafe.jpg" alt="Cafe">
                        <h2>Café</h2>
                    </div>
                    <div class="blank-room" id="blank-manehallen" onclick="startTegner('Manehallen')">                       
                        <img src="static/images/menublank/16/manehallen.jpg" alt="Manehallen">
                        <h2>Månehallen</h2>
                    </div>
                    <div class="blank-room" id="blank-soylehallen" onclick="startTegner('Soylehallen')">                        
                        <img src="static/images/menublank/16/soylehallen.png" alt="Soylehallen">
                        <h2>Søylehallen</h2>
                    </div>
                    <div class="blank-room" id="blank-hovedhallen" onclick="startTegner('Hovedhallen')">                        
                        <img src="static/images/menublank/16/hovedhallen.jpg" alt="HovedHallen">
                        <h2>Hovedhallen</h2>
                    </div>

                </div>
            <!-- BLUEPRINT -->
                <div class="user-settings" id="user-settings" style="display: none;">
                    <div class="user-settings-header" id="user-settings-header">
                        <h1>Velg rom</h1>
                        <h3>Her kan du velge et rom til å starte på et nytt blankt prosjekt</h3>
                    </div>
                </div>
            <!-- LOGIN -->
                <div style="display: none;" class="login-content" id="login-content">
                    <form name="login-form" id="login-form" class="login-form">
                        <p>
                            <input type="text" placeholder="Brukernavn" id="login-username">
                        </p>
                        <p>
                            <input type="password" placeholder="Passord" id="login-password">
                        </p>
                        <p>
                            <input type="submit" value="Login" id="login-submit">
                            <button  id="login-continue-without-button">Fortsett uten å logge inn</button>
                        </p>
                    </form>
                </div>
            <!-- MANAGE USER -->
                <div class="help-page" id="help-page">
                    
                </div>    
            <!-- MANAGE USER -->
                <div class="manage-users" id="manage-users">

                </div>
            </div>
        </div>
        <div class="canvasGUI-Container">
            
            <div class="newGUI" id="new-GUI" style="display: none;" onclick="guiUpdate(event)">
                <div class="gui-stats" id="gui-stats">
                    <div class="gui-header">
                        <h1>Statestikk</h1>
                    </div>
                    <div class="gui-container" id="GUI-Stats">
                        <h3 class="counter-text" id="stats-langbord">Antall langbord:</h3>
                        <h3 class="counter-text">Antall rundbord:</h3>
                        <h3 class="counter-text">Antall sitteplasser:</h3>
                    </div>
                </div>
                <div class="gui-utility" id="gui-utility">
                    <div class="gui-header">
                        <h1>Verktøy</h1>
                    </div>
                    <div class="gui-container">
                        <h2 onclick="saveCurrentTableSetupToText()">Lagre</h2>
                        <h2 onclick="drawFrameForPrinting()">Skriv ut</h2>
                        <h2 onclick="takeScreenshot()">Ta skjermbilde</h2>
                        <br>
                        <h2 onclick="addTable('lang')">Legg til langbord</h2>
                        <h2 onclick="addTable('rund')">Legg til rundbord</h2>
                    </div>
                </div>
                <div class="table-utility" id="table-utility">
                    <div class="gui-header">
                        <h1>Bordverktøy</h1>
                    </div>
                    
                    <div class="gui-container" >
                        <h2 onclick="rotateSelectedTables(30);">Roter (30°)</h2>
                        <h2 onclick="rotateSelectedTables(-30);">Roter (-30°)</h2>
                        <h2 onclick="deleteSelectedTables();">Slett bord</h2>
                        <input type="text" id="name-for-table" placeholder="Navn til bordet" onchange="setNameForTable()">
                    </div>
                </div>
                <h5 id="lagredeBord" ></h5>
            </div>
        </div>
          <!-- FOOTER -->
        <div class="new-footer" id="new-footer">

        </div>
    </div>
    <canvas id="canvas" class="canvas" style="display: none;" onscroll="scale(event)"  onmouseup="deleteBord(event)" onmousedown="setBord(event)" onmousemove="update(event)" >You need to update your browser to run canvas</canvas>


    
    
    <div id="canvasGui" class="canvasGui" style="display: none;">
        <div class="DustLayer">
            <img src="static/images/scratches-hd-png--2048.png" id="skrapeMerker" style="display: none;"></img>
        </div>
        <div class="addTableContainer" id="addTableContainer">
                <div class="hideShowTables"     onclick="hideShowAddTables()">
                        <h1 style="margin-top: -2px">︿</h1>
                    </div>
        
            <div class="utilityButtons customScrollBar" id="utilityButtons">
                
                <div class="utilityButton" onclick="addTable('lang')">
                    <img src="static/images/Langbord.png" class="utilityImages"style=""></img>
                    <h2 style="display: none;" >lang til</h2>
                </div>
                <div class="utilityButton" onclick="addTable('rund')">
                    <img src="static/images/Rundbord.png" class="utilityImages"style=""></img>
                    <h2 style="display: none;" >rund til</h2>
                </div>
                <div class="utilityButton" onclick="addTable('rund')">
                        <img src="static/images/rund.png" class="utilityImages"style="display: none;"></img>
                        <h2>Rundt</h2>
                </div>
                <div class="utilityButton" onclick="addTable('lang')">
                        <img src="static/images/rund.png" class="utilityImages"style="display: none;"></img>
                        <h2>Langt</h2>
                </div>
            </div>
        </div>
        <div class="stats" id="statistics">
            <h1>100/200</h1>
        </div>
        <div class="currentHall">
            <h1>HovedHallen</h1>
        </div>


        <div class="tablePreviewDiv" id="tablePreviewDiv">
            <div class="hideShowPreview" onclick="hideShowTablePreview()">
                <h2>❯</h2>
            </div>
            <div class="tableButtons">
                <img src="static/Ikoner/degreesWhite.png" class="tblButtonsIcons" onclick="turnTableQuarter()"></img>
                <img src="static/Ikoner/deletesmaller.png" class="tblButtonsIcons" onclick="deleteTableOUTDATED()"></img>
                <img src="static/Ikoner/degrees30.png" class="tblButtonsIcons" onclick="rotateTableAngle(30)"></img>
            </div>
            <input type="text" placeholder="Navn på bord" class="tekstInput">
                <button type="submit" class="bordSubmitClass">
                    Legg til
                </button>
            </input>
            <canvas id="tablePreview" class="tablePreview" height="200px"></canvas>
        </div>



        <div class="mouseTools">
            <div class="mouseToolsHideShow" onclick="hideShowMouseTools()" id="mouseToolsHideShow">
                    <h1 style="margin-top: 37px;">﹀</h1>
                    <!-- <h1>︿</h1> -->

            </div>
            <div class="mouseToolsImages" id="mouseToolsImages">
                <img src="static/Ikoner/Device Apps & Settings/PNG/128/566642 - camera capture lens.png" class="mouseToolsImage"></img>
                <img src="static/Ikoner/Device Apps & Settings/PNG/128/566644 - arrow cloud cloud c.png" class="mouseToolsImage"></img>
                <img src="static/Ikoner/Device Apps & Settings/PNG/128/566639 - calculate calculati.png" class="mouseToolsImage"></img>
                <img src="static/Ikoner/multiSelectBlack.png" class="mouseToolsImage"></img>
            </div>
            
        </div>
        <div class="presetsPreview">
            
            <div class="presetsMeny">
                <h1>Meny</h1>
            </div>
            <div class="presetsList customScrollBar" id="presetsList">
                <img src="static/images/Saved/Preset1.png" width="200px"><img>
                <img src="static/images/Saved/Preset1.png" width="200px"><img>
                <img src="static/images/Saved/Preset1.png" width="200px"><img>
                <img src="static/images/Saved/Preset1.png" width="200px"><img>
                <img src="static/images/Saved/Preset1.png" width="200px"><img>
            </div>
            <div class="hideShowPresets" onclick="hideshowpresets()">
                    <h1>❮</h1>
                    <!-- <h1>❯</h1> -->
            </div>
        </div>
    </div>
    
  <script src="static/js/index.js"></script>
 
  
</body>
</html>