<html lang="no">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bordplassering</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <!-- <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" /> -->
  <script>
    //var preLoaded = JSON.parse({{obj|safe}});
    let preLoaded = {{obj|safe}};
    let allergiesFromServer = {{allergiesList|safe}};
    let preLoadedProjectData = {{preLoadedProjectData|safe}};
    console.log(preLoaded);
    
  </script>


  <script src={{ url_for('static', filename='js/globals.js')}} ></script>
  
  <script src="{{ url_for('static', filename='js/bordClasser.js')}}" ></script>
  <script src="{{ url_for('static', filename='js/obstacleClass.js')}}" ></script>
  <script src="{{ url_for('static', filename='js/functions.js')}}" ></script>
  <script src="{{ url_for('static', filename='js/hideshowfunctions.js')}}" ></script>
  <script src="{{ url_for('static', filename='js/onclickfunctions.js')}}" ></script>
  <script src="{{ url_for('static', filename='js/roomDrawing.js')}}" ></script>
  <script src="{{ url_for('static', filename='js/Allergy.js')}}" ></script>
  <script src="{{ url_for('static', filename='js/PersonClass.js')}}" ></script>
  <script src="{{ url_for('static', filename='js/Seat.js')}}" ></script>
  <script src="{{ url_for('static', filename='js/ProjectClass.js')}}" ></script>
  <script src="{{ url_for('static', filename='js/drawingObject.js')}}" ></script>
  <script src="{{ url_for('static', filename='js/projectFunctions.js')}}" ></script>
  
  <script src={{ url_for('static', filename='js/worker.js')}} ></script>
  <script>
      
      
  </script>
    

  <link rel="stylesheet" href={{ url_for('static', filename='css/index.css')}} ></link>
  <link rel="stylesheet" href={{ url_for('static', filename='css/newApp.css')}} ></link>
  <link rel="stylesheet" href={{ url_for('static', filename='css/formstyle.css')}} ></link>
  <link rel="stylesheet" href={{ url_for('static', filename='css/header.css')}} ></link>
  <link rel="stylesheet" href={{ url_for('static', filename='css/modal.css')}} ></link>
  
  <link rel="stylesheet" href={{ url_for('static', filename='css/darkmode.css')}} ></link>
  <link rel="stylesheet" href={{ url_for('static', filename='css/newGui.css')}} ></link>
  <link rel="stylesheet" href={{ url_for('static', filename='css/weddingStyle.css')}} ></link>
  <link rel="stylesheet" href={{ url_for('static', filename='css/demostyle.css')}} ></link>
  
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Roboto:100&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Assistant:200&display=swap" rel="stylesheet">
  

</head>

<body onscroll="scale(event)" onresize="onDocumentResize(event)">
    <div class="new-app" id="new-app">
        
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>Lagring</h2>
                </div>
                <div class="modal-body">
                    <div class="modal-body-left">
                        <h3>Instillinger:</h3>
                        <h3>Prosjekt: <input type="text" placeholder="Navn til prosjektet" id="modalInputName"></input></h3>
                        <h4>Andre instillinger:</h4>
                        <input type="checkbox">forhåndsinnstilling</input>
                    </div>
                    <div class="modal-body-right">
                        <h3>Info om fra lagringen:</h3>
                        <p class="modalStats">Navn: </p>
                        <p class="modalStats">Antall gjester: </p>
                        <p class="modalStats">Rom: </p>
                        <p class="modalStats">Dato:</p>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <div class="clearfix">
                        <button type="button" class="modalbtn" id="savebtnModal" onclick="modalSave()">Lagre</button>
                        <button type="button" class="modalbtn"id="cancelbtnModal" onclick="modalClose()">Avbryt</button>
                      </div>
                </div>
            </div>
        </div>
        
        
        {% include '_topnav.html' %}
        
        <div class="canvasGUI-Container">
            
            <div class="newGUI" id="new-GUI"  onclick="guiUpdate(event)" onmousedown="guiMouseDown(event)" onmouseup="guiMouseUp(event)">
                <div class="gui-stats" id="gui-project-info">
                    <div class="gui-header">
                        <h1>Prosjekt</h1>
                    </div>
                    <div class="gui-container" id="gui-project-info-content">
                    </div>
                </div>
                <div class="gui-stats" id="gui-table-info">
                    <div class="gui-header">
                        <h1>Bord</h1>
                    </div>
                    <div class="gui-container" id="gui-table-info-content">
                    </div>
                </div>

                <div class="gui-stats" id="gui-stats" style="display:none;">
                    <div class="gui-header">
                        <h1>Statestikk</h1>
                    </div>
                    <div class="gui-container" id="GUI-Stats">
                        <h3 class="counter-text" id="stats-langbord">Antall langbord:</h3>
                        <h3 class="counter-text">Antall rundbord:</h3>
                        <h3 class="counter-text">Antall sitteplasser:</h3>
                    </div>
                </div>
                <div class="gui-person" id="gui-person">
                    <div class="gui-header">
                        <h1>Person</h1>
                    </div>
                    <div class="gui-container" id="GUI-Person">
                        <input type="text" id="name-for-person" class="personInput" placeholder="Navn">
                        <input type="text" id="surname-for-person" class="personInput" placeholder="Etternavn">
                        <input type="number" min="0" id="age-for-person" class="personInput" placeholder="Alder">
                        <input type="text" id="gender-for-person" class="personInput" placeholder="Kjønn">
                        <div>
                            <button onclick="makePerson()">Legg til [+]</button>
                            <button onclick="changePerson()">Endre ✎</button>
                        </div>
                        <div class="allergyListDiv" id="allergyListDiv">

                        </div>
                        <form>
                            <select id="allergy-for-person" class="personInput">
                                <option value="alkohol">alkohol</option>
                                <option value="Gluten">Gluten</option>
                                <option value="Laktose">Laktose</option>
                                <option value="Fisk">Fisk</option>
                                <option value="Vegan">Vegan</option>
                            </select>
                            <button type="button" id="addAllergyToSelectedPerson" onclick="addAllergyFromSelectToPerson()"> [+] </button>
                            
                        </form>
                        
                        <h4 style="display: none;" id="IDPERSON"></h4>
                    </div>
                </div>
                <div class="gui-utility" id="gui-utility">
                    <div class="gui-header">
                        <h1>Verktøy</h1>
                    </div>
                    <div class="gui-container">
                        <h2 onclick="openSaveDialog()">Lagre</h2>
                        <button onclick="saveProjectData()">Lagre Prosjekt</button>

                    <!--<h2 onclick="saveCurrentTableSetupToText()">Lagre</h2>-->
                        <h2 onclick="drawFrameForPrinting()">Skriv ut</h2>
                        <h2 onclick="takeScreenshot()" id="takeScreenshotButton">Ta skjermbilde</h2>
                        <br>
                        <h2 onclick="addTable('lang')">Langbord [+]</h2>
                        <h2 onclick="addTable('rund')">Rundbord [+]</h2>
                        <h3>Bordfarge<input type="color" id="color-for-table" oninput="changeSelectedTableColor()"></h3>
                        <h3>SeteFarge<input type="color" id="color-for-seat" oninput="changeSeatColor()"></h3>
                    </div>
                </div>
                <div class="table-utility" id="table-utility">
                    <div class="gui-header">
                        <h1>Bordverktøy</h1>
                    </div>
                    
                    <div class="gui-container" >
                        <h2 onclick="rotateSelectedTables(30);">Roter (30°)</h2>
                        <h2 onclick="rotateSelectedTables(-30);">Roter (-30°)</h2>
                        <h2 onclick="deleteSelectedTables();">Slett bord</h2>
                        <input type="text" id="name-for-table" placeholder="Navn til bordet" oninput="setNameForTable()">
                        
                    </div>
                </div>
                <h5 id="lagredeBord" ></h5>
                <h1 onclick="retrieveOverview()">Retrieve Overview</h1>
                <div class="screenshots-container" id="screenshots-container">
                    <div class="gui-header">
                        <h1>Screenhots</h1>
                    </div>
                    <div class="gui-container" id="screenshots-container-inner">

                    </div>
                </div>
            </div>
        </div>
          <!-- FOOTER -->
        <div class="new-footer" id="new-footer">

        </div>
    </div>
    <canvas id="canvas" class="canvas" style="display: none;" onmouseup="deleteBord(event)" onmousedown="setBord(event)" onmousemove="update(event)" >You need to update your browser to run canvas</canvas>


    
    <img src='{{ url_for('static', filename="images/scratches-hd-png--2048.png")}}'  id="skrapeMerker" style="display: none;"></img>
    
    <!-- <img src="static/Ikoner/download.png" alt="download"> -->
  <script>var myWorker = new Worker('{{ url_for('static', filename="js/worker.js")}}');</script>
  <script src="{{ url_for('static', filename='js/index.js')}}" ></script>
  
  <script>
    if(preLoaded != 0){
        loadSaveParam(preLoaded);
    }
    project = new Project(preLoadedProjectData);
    </script>
 
  
</body>
</html>